:root{
    --grid: 8px;
    --grid2: 4px;
    --borderRadius: 2px;
    --black: #222;
    --scrollHeight: 94%;
    --nudeColor: #001e3c;
    --leaving: #ffeaea;
    --entering: #eaffeb;
    --Height: 250px;
}


.columnParentContainer{
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex: auto;
   & > div{
    color: #fff;
    padding: 2.5px;
    border-radius: 10px;
  }
}


.column{
  background-color: #001e3c;
  width: 250px !important;
  h2{
    font-weight: 600;
    padding: 10px;
    color: #f5ee8d;
  }
  box-shadow: 2px 2px 4px rgba(0,0,0,.4);
  padding: 5px;
  margin: 0 10px;
  border-radius: 10px;
}

.headerDrag{
  background: #d0c96b;
  color: #fff
}



.scrollContainer{
    overflow-x: hidden;
  overflow-y: auto;
  max-height: var(--scrollHeight);
}

.item_container, .dragging{
  border-radius: var(--borderRadius);
  border: 2px solid transparent;
 padding: var(--grid);
  min-height: 40px;
  margin-bottom: var(--grid);
  user-select: none;
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    background: var(--leaving);
  }

}


.dragging{
  background: var(--leaving);
}

.dropzone{
  min-height: var(--scrollHeight);
  padding: 0 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  background: var(--nudeColor);
  min-height: 250px;
  padding: 0 2.5px 15px;
  // border: 1px solid black
}

.wrapper, .wrapperOver, .wrapperFrom{
  min-height: var(--Height);
  display: flex;
  flex: 1;
  opacity: 1;
  transition: background-color 0.2s ease, opacity 0.1s ease;
  user-select: none;
}

.wrapper{
  background-color: #fcfcfc;
}

.wrapperFrom, .dropFrom{
  background-color:  var(--leaving);
}
.wrapperOver, .dropOver{
  background-color: var(--entering)
}


.columnItem{
  background: #7cc334;
  width: 100%;
  padding: 10px 5px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 10px;
  .avatar{
    background: var(--nudeColor);
    color: #fa9fcc;
    font-weight: 600;
  }
}



